<md-card>
  <md-card-content layout='column' layout-align='center center'>
    <h2>Add A Fun Thing To Do!</h2>
    <div class="">
      <form ng-submit="add.addBlast(add.blast)">
        <input ng-model="add.blast" focus-on="addDescription">
        <md-button type="submit" class="md-primary md-raised">Add</md-button>
      </form>
    </div>
    <!-- <div layout-padding="">
      <a ng-href='#/home'>Back</a>
    </div> -->
    <div class="float-button">
      <md-button style="" ng-href="#/home" class="md-fab" aria-label="Back">
          <md-icon md-svg-src="../assets/ic_arrow_back_white_24px.svg"></md-icon>
      </md-button>
    </div>

  </md-card-content>
</md-card>
